.subMain {
    background-color: #ffffff;
    color: rgb(5, 4, 4);
    padding: 2rem;
    text-align: center;
}

.subMainTop {
    font-size: 2rem;
    color: #875cff;
    margin-bottom: 1rem;
}

.tourPlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tourPlace {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    animation: slideInRight 0.5s ease-in-out forwards;
}

.tourPlace img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tourPlaceDetails {
    text-align: left;
    padding: 1rem;
}

.tourPlaceDetails h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.tourPlaceDetails p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.price {
    display: flex;
    align-items: center;
}

.discountedPrice {
    font-size: 1.2rem;
    color: #875cff;
    font-weight: bold;
    margin-right: 0.5rem;
}

.originalPrice {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .tourPlaces {
        flex-direction: column;
    }
    .tourPlace {
        width: 100%;
        margin-bottom: 1rem;
    }
}