body {
    border-top: 0;
    background-color: white;
    /* Change background color to white */
    color: #875CFF;
    /* Change text color to red */
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    padding-top: 1rem;
    box-sizing: border-box;
    background: white;
    /* Change background color to white */
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #875CFF;
    height: 40vh;
    /* Change text color to red */
}

.card-details h3 {
    margin: 5px 0;
    color: #875CFF;
    /* Adjust title color as needed */
}

.card-details p {
    font-size: 14px;
    color: #875CFF;
    /* Change text color to red */
}