/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Section styles */

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Center-align text within the container */
}

.image-content {
    margin-bottom: 20px;
    margin-right: 40px;
    animation: slideRight 1s forwards ease-in-out;
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-content img {
    max-width: 100%;
    /* Ensure the image doesn't overflow its container */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-content {
    padding: 0 20px;
    /* Add horizontal padding for better mobile view */
    margin-right: 20px;
    /* Add space to the right side of the text */
    text-align: center;
    /* Center-align text */
    animation: slideDown 1s forwards ease-in-out;
    /* Apply slideDown animation to text content */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
    /* Justify-align text for better readability */
    animation: slideDown 1s forwards ease-in-out;
    /* Apply slideDown animation to paragraphs */
}

.learn-more-btn {
    background-color: #7c4fdc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0px;
    margin-bottom: 20px;
    /* Add margin to create space between paragraph and button */
    animation: slideUp 1s forwards ease-in-out;
    /* Apply slideUp animation to Learn More button */
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.learn-more-btn:hover {
    background-color: #5f35e0;
}

@media (min-width: 768px) {
    /* Adjust styles for larger screens if needed */
    .content-wrapper {
        flex-direction: row;
        align-items: flex-start;
        /* Align items to the top */
    }
    .image-content {
        margin-right: 20px;
    }
    .text-content {
        flex: 1;
        text-align: left;
        /* Align text to the left on larger screens */
        padding: 0;
        /* Remove padding for larger screens */
        margin-right: 0;
        /* Remove margin-right for larger screens */
    }
}