.body {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
}

.contact {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 2rem 0;
    background-image: url("../../assets/contact.jpg");
    background-size: cover;
    /* Ensure the background covers the entire element */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
}

.contactTop {
    background-color: none;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
}

.Company {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.contactLeft {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.contactRight {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}

.officeBg {
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 1rem;
}

.officeDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.office,
.contactNumber,
.emailAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* Increased gap between text elements */
    margin-right: 1rem;
    margin-left: 1rem;
    /* Added margin-bottom for space between logos */
}

.detailIcon {
    width: 24px;
    height: 24px;
}

.contactBottom {
    padding: 2rem;
}

.formContainer {
    max-width: 600px;
    margin: 0 auto;
}

.queryForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.queryForm input,
.queryForm textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.queryForm textarea {
    height: 120px;
    resize: vertical;
}

.queryForm button {
    background-color: #875cff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .contactTop {
        flex-direction: column;
        gap: 1rem;
    }
    .contactRight {
        width: 100%;
    }
    .officeDetails {
        flex-direction: column;
    }
}