.booking-form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form {
    background-color: #8c6af0;
    color: #f3fafb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.booking-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    margin-bottom: 5px;
}

.booking-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ae4564;
    border-radius: 5px;
    width: 100%;
}

.booking-form .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.booking-form button {
    padding: 10px 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
}

.booking-form button.book-now-clicked {
    background-color: green;
    /* Green color for book now button when clicked */
}

.close-button {
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* Increased margin-bottom for more space */
    width: 100%;
}

@media (min-width: 768px) {
    .booking-form-container {
        height: 110%;
    }
    .booking-form {
        max-width: 400px;
        width: 90%;
    }
    .booking-form .button-group {
        flex-direction: row;
        margin-bottom: 50px;
        margin-trim: 50px;
        /* Increased margin-bottom for more space */
    }
}


/*.booking-form button:hover {
    background-color: #48f46e;
}*/

.close-button:hover {
    background-color: #fe3535;
}

.close-button-red {
    padding: 10px 20px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button-red.clicked {
    background-color: red;
    /* Red color for close button when clicked */
}