@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.booking-form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form {
    background-color: #e1ded6;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 90%;
    margin-top: 60px;
    /* Existing styles */
    animation: slideDown 0.5s ease-in-out;
}

.booking-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.book-now {
    background-color: #3586dc;
    color: #fff;
    width: 30%;
}

.more-info {
    background-color: #ccc;
    color: #333;
}

.close-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3586dc;
    color: #fff;
    cursor: pointer;
    width: 30%;
}

.book-now:hover {
    background-color: #13f387;
    /* Green color when hovered */
}

a .close-button:hover {
    background-color: #fb263b;
    /* Red color when hovered */
}