.booking-form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form {
    background-color: #8c6af0;
    color: #f3fafb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    /* Adjust max-width as needed */
    width: 100%;
}

.booking-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    margin-bottom: 5px;
}

.booking-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ae4564;
    border-radius: 5px;
}

.booking-form .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-form button {
    padding: 10px 20px;
    background-color: #0e0e0e;
    color: #f4f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #48f46e;
}

.close-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #f46320;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #fe3535;
}

.close-button-red {
    padding: 10px 20px;
    color: #fff;
    background-color: red;
    /* Change the color to red */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}