/* Global styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Client section styles */

.clients-section {
    background-size: cover;
    background-position: center;
    padding: -1vw 0;
    text-align: center;
    margin: 0 30px;
    color: #163457;
    font-family: "Montserrat";
}

.clients-section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.clients-section .subtitle {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.image-3-icon {
    /* Adjusted top value */
    position: absolute;
    height: 204px;
    object-fit: cover;
    margin-bottom: 3px;
    margin-left: 20px;
}

.image-4-icon {
    position: absolute;
    top: 358px;
    left: 69px;
    width: 700px;
    height: 204px;
    object-fit: cover;
    margin-bottom: 3px;
}

.image-3-icon,
.image-4-icon {
    top: 335px;
    left: 865px;
    width: 330px;
    height: 350px;
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.feedback-box {
    background-color: #c25b2fab;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    flex: 1 1 300px;
    margin-bottom: 5vw;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.feedback-box:hover {
    transform: scale(1.05);
    opacity: 1;
}

.feedback-box .rating {
    font-size: 1.2rem;
    color: #ffd700;
    margin-bottom: 10px;
}

.feedback-box p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.client-info {
    display: flex;
    align-items: center;
}

.client-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.client-info span {
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
}