.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.recommendations {
    background-color: #ffd27f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(29, 192, 20, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.recommendation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.recommendation-item {
    width: calc(33.333% - 10px);
    /* Adjust the width to make all boxes the same size */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(65, 184, 18, 0.1);
    padding: 40px;
    margin-right: 10px;
    /* Add space between boxes */
    margin-left: 10px;
    /* Add space between boxes */
}

.recommendation-item h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c63939;
    /* Green text color */
}

.recommendation-item p {
    font-size: 1rem;
    color: #38cd54;
    /* Green text color */
}